<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Course list</title>
<link th:insert="fragments/links.html :: stylesheet_file"></link>
<link th:insert="fragments/links.html :: stylesheet_href"></link>

</head>
<body>
	<div th:insert="fragments/header.html :: header"></div>
	<header th:insert="fragments/navbar.html :: navbar"> </header>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<h1 class="text-success">Manipulation with courses:</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<table class="h5">
			<tr>
				<th>
					<h3>Courses list:</h3>
					<table border="1">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
						<tr th:each="course : ${list}">
							<td th:text="${course.courseId}"></td>
							<td th:text="${course.name}"></td>
							<td><a th:href="@{/course/edit/{id}(id=${course.courseId})}">Edit</a></td>
							<td><a
								th:href="@{/course/delete/{id}(id=${course.courseId})}">Delete</a>
						</tr>
					</table>
			<tr>
				<td><a class="nav-link " href="add" title="Add course">Add
						course</a></td>
			</tr>
		</table>
	</div>
</body>
</html>
